.loading-content_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.spinner {
  margin: 120px 150px 0 auto;
  width: 140px;
  text-align: center;
}

.spinner > div {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.sk-fading-circle {
  margin: 120px auto 40px 140px;
  width: 120px;
  height: 120px;
  position: relative;
  top: -10%;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  animation-delay: -0.1s;
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.item1 {
  background: #FF80AB;
}

.item2 {
  background: #69F0AE;
}

:root {
  --fg: #17181c;
  --shade1: #727274;
  --shade2: #cccdd1;
  --shade3: #f3f4f8;
  --shade4: #ffffff;
  --dur1: 1s;
  --dur2: 6s;
}

.item3 {
  background-image: linear-gradient(145deg, var(--shade3), var(--shade2));
  color: var(--fg);
  display: flex;
  flex-direction: column;
}

.preloader {
  border-radius: 50%;
  position: relative;
  width: 12em;
  height: 12em;
  margin: 50px 120px 60px auto;
}

.preloader__square {
  animation: smallPopOut1 var(--dur1) linear, popInOut var(--dur2) var(--dur1) linear infinite;
  border-radius: 0.5em;
  box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  position: absolute;
  top: 2.5em;
  left: 2.5em;
  width: 3em;
  height: 3em;
}

.preloader__square:nth-child(n + 2):nth-child(-n + 3) {
  left: 6.5em;
}

.preloader__square:nth-child(n + 3) {
  top: 6.5em;
}

.preloader__square:nth-child(2) {
  animation: smallPopOut2 var(--dur1) linear, move2 var(--dur2) var(--dur1) linear infinite;
}

.preloader__square:nth-child(3) {
  animation: smallPopOut3 var(--dur1) linear, move3 var(--dur2) var(--dur1) linear infinite;
}

.preloader__square:nth-child(4) {
  animation: smallPopOut4 var(--dur1) linear, move4 var(--dur2) var(--dur1) linear infinite;
}

/* Animations */
@keyframes largePopOut {
  from, 20% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  40% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 2em 2em 2em var(--shade1), -2em -2em 4em var(--shade4);
  }
  60%, to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 1em 1em 2em var(--shade1), -1em -1em 2em var(--shade4);
  }
}

@keyframes smallPopOut1 {
  from, 40% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  60% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  80%, to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut2 {
  from, 45% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  65% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  85%, to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut3 {
  from, 50% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  70% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  90%, to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes smallPopOut4 {
  from, 55% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
  }
  75% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
  }
  95%, to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
  }
}

@keyframes popInOut {
  from {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 0);
  }
  4% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 0);
  }
  8% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 0);
  }
  12%, 16% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 0);
  }
  20% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 0);
  }
  24%, 25% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(4em, 0);
  }
  29% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 0);
  }
  33% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 0);
  }
  37%, 41% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 4em);
  }
  45% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 4em);
  }
  49%, 50% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(4em, 4em);
  }
  54% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(4em, 4em);
  }
  58% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(4em, 4em);
  }
  62%, 66% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 4em);
  }
  70% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 4em);
  }
  74%, 75% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 4em);
  }
  79% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 4em);
  }
  83% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 4em);
  }
  87%, 91% {
    box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset, 0 0 0 var(--shade1), 0 0 0 var(--shade4);
    transform: translate(0, 0);
  }
  95% {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.5em 0.5em 0.5em var(--shade1), -0.5em -0.5em 1em var(--shade4);
    transform: translate(0, 0);
  }
  99%, to {
    box-shadow: 0.15em 0.15em 0.15em var(--shade4) inset, -0.15em -0.15em 0.15em var(--shade1) inset, 0.25em 0.25em 0.5em var(--shade1), -0.25em -0.25em 0.5em var(--shade4);
    transform: translate(0, 0);
  }
}

@keyframes move2 {
  from, 8% {
    transform: translate(0, 0);
    width: 3em;
    height: 3em;
  }
  12% {
    transform: translate(-4em, 0);
    width: 7em;
    height: 3em;
  }
  16%, 83% {
    transform: translate(-4em, 0);
    width: 3em;
    height: 3em;
  }
  87% {
    transform: translate(-4em, 0);
    width: 3em;
    height: 7em;
  }
  91%, to {
    transform: translate(-4em, 4em);
    width: 3em;
    height: 3em;
  }
}

@keyframes move3 {
  from, 33% {
    transform: translate(0, 0);
    height: 3em;
  }
  37% {
    transform: translate(0, -4em);
    height: 7em;
  }
  41%, to {
    transform: translate(0, -4em);
    height: 3em;
  }
}

@keyframes move4 {
  from, 58% {
    transform: translate(0, 0);
    width: 3em;
  }
  62% {
    transform: translate(0, 0);
    width: 7em;
  }
  66%, to {
    transform: translate(4em, 0);
    width: 3em;
  }
}

@keyframes fadeIn {
  from, 67% {
    opacity: 0;
  }
  83.3%, to {
    opacity: 1;
  }
}

.loader {
  margin: 90px auto 0px 100px;
}

span.progress-loader {
  font-size: 80px;
  margin: 0;
  color: #fff;
}

span.progress-loader:after {
  content: "%";
  font-family: ARIAL;
  font-size: 50px;
}

.item4 {
  background: #0E7EE3;
}
/*# sourceMappingURL=loading.css.map */