@charset "UTF-8";
body {
  font-family: a-otf-ud-shin-maru-go-pr6n, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #333;
}

img.emoji {
  height: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.split-right {
  height: 2500px;
}

.main-title {
  margin: auto;
}

.main-title h1 {
  font-size: 1.8em;
  margin: 50vh auto 0;
  transform: translateY(-50%);
  display: block;
  margin-left: 100px;
}

.mokuzi {
  margin-left: 100px;
  font-weight: 700;
}

.cat {
  margin-top: 130px;
  font-size: 1.7rem;
  margin-bottom: 40px;
  background-color: beige;
  border-radius: 20px;
  width: 72%;
  text-align: center;
  line-height: 72px;
}

.mokuzi h2 {
  font-size: 3rem;
  padding-bottom: 80px;
  margin-top: 51%;
}

.mokuzi-list {
  margin: auto;
}

.mokuzi-list li {
  padding: 36px 0 36px 0;
}

.mokuzi-list a {
  font-size: 1.3rem;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  width: 72%;
  padding-bottom: 16px;
  width: 72%;
}

.mokuzi-list a:hover {
  color: coral;
}

@keyframes zoom {
  50% {
    transform: scale(1.05);
  }
}

.mokuzi_list li {
  list-style: none;
  font-size: 1.5rem;
}

.copy {
  padding-bottom: 200px;
  margin-top: 200px;
  text-align: center;
}

.split-left {
  position: relative;
}

.content-container {
  text-align: center;
  position: fixed;
  width: 50%;
  background-color: beige;
  height: 100%;
  margin-top: 0;
}

.kimochi-point {
  margin: 55px 0 50px 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.zukan-page {
  text-align: center;
}

.zukan-page-title {
  font-size: 1.6rem;
  margin: 120px 0 56px 0;
  text-align: center;
}

.zukan-page-desc {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 36px;
  text-align: left;
  display: inline-block;
  padding-left: 40px;
  max-width: 829px;
}

.back-mokuzi {
  margin-top: 20px;
  text-align: center;
  color: deeppink;
  font-size: 16px;
  margin: 70px 80px 0;
  border-bottom: #fff solid 1px;
}

.back-mokuzi:hover {
  border-bottom: deeppink solid 1px;
}

.btn-desc {
  max-width: 829px;
}

.emoji {
  font-weight: 400;
  padding-right: 4px;
}

.fa-chevron-circle-right {
  float: right;
}

.hyousi {
  font-size: 4.3rem;
  font-weight: 700;
  margin-top: 43%;
  color: beige;
  animation: poyoyon2 1s ease-in-out 1 forwards;
}

@keyframes poyoyon2 {
  0% {
    transform: scale(1, 1) translate(0, 0);
  }
  15% {
    transform: scale(0.98, 0.9) translate(0, 5px);
  }
  30% {
    transform: scale(1.02, 1) translate(0, 8px);
  }
  50% {
    transform: scale(0.98, 1.05) translate(0, -8px);
  }
  70% {
    transform: scale(1, 0.9) translate(0, 5px);
  }
  100% {
    transform: scale(1, 1) translate(0, 0);
  }
  0%, 100% {
    opacity: 1;
  }
}

svg {
  z-index: -2;
  position: absolute;
  left: 0;
}

.nav {
  position: relative;
  top: 0;
  right: 0;
  z-index: 999;
}

.nav-cat {
  position: fixed;
  border-left: 30px #FFB69C solid;
  box-shadow: 0 2px 6px #333;
  font-size: 2vh;
  background: #f7f7f7;
  height: 10vh;
  display: inline-block;
  width: 20vw;
  text-align: left;
  color: #333;
  font-weight: 700;
  padding: 36px 0px 0px 16px;
  border-radius: 2px;
  transition: .2s;
  right: -10vw;
}

.nav-cat:hover {
  background: #F7EFEB;
  border-left: 30px #FF7F50 solid;
  transition: .3s;
  right: 0;
}

.ui-cat {
  margin-top: 5vh;
}

.img-cat {
  margin-top: 18vh;
}

.btn-cat {
  margin-top: 31vh;
}

.design-cat {
  margin-top: 44vh;
}

.scroll-cat {
  margin-top: 57vh;
}

.brank {
  margin-left: 15px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}

#loader-wrap {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: beige;
  z-index: 9999;
  /* 環境によって「z-index」追加 */
}

/* 読み込み完了後に「loaded」を付与する */
#loader-wrap.loaded {
  animation: fadeOut 2s forwards;
}

.loader {
  color: #ed1c24;
  font-size: 2vw;
  font-weight: 700;
  text-align: center;
  margin: 40vh auto;
  text-shadow: 0 -3px 0 #fff, 0 2px 0 #fff, 0 8px 15px rgba(0, 0, 0, 0.3);
}
/*# sourceMappingURL=style.css.map */