$green: #448aff;
$gray: #bbbbbb;
.container {
    margin: auto;
    width: 130px;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}
button {
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    background: #fff;
    border: 2px solid $green;
    color:$green;
    letter-spacing:1px;
    text-shadow:0;
    font-size:12px;
    font-weight:bold;
    cursor: pointer;
    transition: all 0.25s ease;
    &:hover {
    color:white;
    background: $green;
    }
    &:active {
    //letter-spacing: 2px;
    letter-spacing: 2.5px ;
    }
    &:after {
    content:"Submit!";
    }
}
.onclic {
    width: 40px;
    border-color:$gray;
    border-width:3px;
    font-size:0;
    border-left-color:$green;
    animation: rotating 2s 0.25s linear infinite;

    &:after {
    content:"";
    }
    &:hover {
    color:$green;
    background: white;
    }
}
.validate {
    font-size:13px;
    color: white;
    background: $green;
    &:after {
    font-family:'FontAwesome';
    content:"\f00c";
    }
}

@keyframes rotating {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.send-content_container 		{ 
    font-family:'Roboto';
    width:600px; 
    margin:75px auto 0; 
    display:block; 
    background:#FFF;
    padding:70px 140px 20px;
    }

    .group 			  { 
        position:relative; 
        margin-bottom:45px; 
        margin-left: 6px;
        }
        input 				{
        font-size:18px;
        padding:10px 10px 10px 5px;
        display:block;
        width:300px;
        border:none;
        border-bottom:1px solid #757575;
        }
        input:focus 		{ outline:none; }
        
      /* LABEL ======================================= */
        label 				 {
        color:#999; 
        font-size:18px;
        font-weight:normal;
        position:absolute;
        pointer-events:none;
        left:5px;
        top:10px;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
        }
        
      /* active state */
        input:focus ~ label, input:valid ~ label 		{
        top:-20px;
        font-size:14px;
        color:$green;
        }
        
      /* BOTTOM BARS ================================= */
        .bar 	{ position:relative; display:block; width:300px; }
        .bar:before, .bar:after 	{
        content:'';
        height:2px; 
        width:0;
        bottom:1px; 
        position:absolute;
        background:$green; 
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
        }
        .bar:before {
        left:50%;
        }
        .bar:after {
        right:50%; 
        }
        
      /* active state */
        input:focus ~ .bar:before, input:focus ~ .bar:after {
        width:50%;
        }
        
      /* HIGHLIGHTER ================================== */
        .highlight {
        position:absolute;
        height:60%; 
        width:100px; 
        top:25%; 
        left:0;
        pointer-events:none;
        opacity:0.5;
        }
        
      /* active state */
        input:focus ~ .highlight {
        -webkit-animation:inputHighlighter 0.3s ease;
        -moz-animation:inputHighlighter 0.3s ease;
        animation:inputHighlighter 0.3s ease;
        }
        
      /* ANIMATIONS ================ */
        @-webkit-keyframes inputHighlighter {
            from { background:$green; }
        to 	{ width:0; background:transparent; }
        }
        @-moz-keyframes inputHighlighter {
            from { background:$green; }
        to 	{ width:0; background:transparent; }
        }
        @keyframes inputHighlighter {
            from { background:$green; }
        to 	{ width:0; background:transparent; }
        }
        
        .pas{
            color: $green;
            font-size: 12px;
            display: block;
            margin: 70px 80px 0;
            border-bottom: #fff solid 1px;
            &:hover{
                border-bottom: $green solid 1px;
            }
        }
        .login{
            margin: auto;
            text-align: center;
            padding-bottom: 70px;
            font-size: 24px;
            color: #448aff;
        }