// main-component
main {
    font-family: a-otf-ud-shin-maru-go-pr6n, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

// split-right-side
.split-right{
    height: 3270px;
}
.main-title{
    margin: auto;
}
.main-title h1{
    font-size: 1.8em;
    margin: 50vh auto 0;
	transform: translateY(-50%);
    display: block;
    margin-left: 100px;
}
.mokuzi{
    margin-left: 100px;
}
.cat{
    font-size: 2rem;
}
.mokuzi h2{
    font-size: 3rem;
    padding-bottom: 80px;
    margin-top: 51%;
}
.mokuzi-list{
    margin: auto;
    line-height: 70px;
    ul{
        margin-bottom: 30px;
    }
    a {
        color: #2566F7;
        font-size: 1.2rem;
        display: inline-block;
        }
        a:hover {
        color: coral;
        -webkit-animation: zoom .3s;
        animation: zoom .3s;
        }
        @-webkit-keyframes zoom {
        50% {
            -webkit-transform: scale(1.05);
        }
        }
        @keyframes zoom {
        50% {
            transform: scale(1.05);
        }
        }
}
.mokuzi_list li{
    list-style: none;
    font-size: 1.5rem;
}
.copy{
    margin-bottom: 30px;
    margin-top: 200px;
    text-align: center;
}
// split-left-side
.split-left{
    position: relative;
}
.content-container{
    text-align: center;
    position: fixed;
    width: 50%;
    // margin:40vh auto 0;
    background-color: beige;
    height: 100%;
    margin-top: 0;
}
.content-container h3{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 43%;
    color:coral;
}
// zukan page
.kimochi-point{
    margin: 55px 0 50px 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.zukan-page{
    text-align: center;
    &-title{
        font-size: 1.6rem;
        margin: 120px 0 56px 0;
        text-align: center;
    }
    &-desc{
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 30px;
        margin-bottom: 36px;
        text-align: left;
        display: inline-block;
        padding-left: 40px;
    }
}

$linkpink:deeppink;

.back-mokuzi {
    margin-top: 20px;
    text-align: center;
    color: $linkpink;
    font-size: 16px;
    margin: 70px 80px 0;
    border-bottom: #fff solid 1px;
    &:hover{
        border-bottom: $linkpink solid 1px;
    }
}

.btn-desc{
    max-width: 829px;
}
.emoji{
    font-weight: 400;
    padding-right: 4px;
}