// main-component
main {
    font-family: a-otf-ud-shin-maru-go-pr6n, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #333;
}

img.emoji {
    height: 1em;
    // width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    }

.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

// split-right-side
.split-right{
    height: 2500px;
}
.main-title{
    margin: auto;
}
.main-title h1{
    font-size: 1.8em;
    margin: 50vh auto 0;
	transform: translateY(-50%);
    display: block;
    margin-left: 100px;
}
.mokuzi{
    margin-left: 100px;
}
.cat{
    font-size: 1.7rem;
    margin-bottom: 40px;
    background-color: beige;
    border-radius: 20px;
    width: 72%;
    text-align: center;
    line-height: 72px;
}
.mokuzi h2{
    font-size: 3rem;
    padding-bottom: 80px;
    margin-top: 51%;
}
.mokuzi-list{
    margin: auto;
    ul{
        margin-bottom: 130px;
        /* display: flex; */
        // display: grid;
        // grid-template-columns: 30vh 38vh;
    }
    li{
        padding: 36px 0 36px 0;
    }
    a {
        font-size: 1.3rem;
        font-weight: 700;
        border-bottom: 1px solid #ccc;
        display: inline-block;
        width: 72%;
        padding-bottom: 16px;
        width: 72%;
        // line-height: 72px;
        // display: inline-block;
        // width: 250px;
        // height: 350px;
        // border: 1px solid;
        // border-radius: 20px;
        }
        a:hover {
        color: coral;
        // -webkit-animation: zoom .3s;
        // // animation: zoom .3s;
        }
        @-webkit-keyframes zoom {
        50% {
            -webkit-transform: scale(1.05);
        }
        }
        @keyframes zoom {
        50% {
            transform: scale(1.05);
        }
        }
}
.mokuzi_list li{
    list-style: none;
    font-size: 1.5rem;
}
.copy{
    padding-bottom: 200px;
    margin-top: 200px;
    text-align: center;
}
// split-left-side
.split-left{
    position: relative;
}
.content-container{
    text-align: center;
    position: fixed;
    width: 50%;
    // margin:40vh auto 0;
    background-color: beige;
    height: 100%;
    margin-top: 0;
}
// zukan page
.kimochi-point{
    margin: 55px 0 50px 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}
.zukan-page{
    text-align: center;
    &-title{
        font-size: 1.6rem;
        margin: 120px 0 56px 0;
        text-align: center;
    }
    &-desc{
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 30px;
        margin-bottom: 36px;
        text-align: left;
        display: inline-block;
        padding-left: 40px;
        max-width: 829px;
    }
}

$linkpink:deeppink;

.back-mokuzi {
    margin-top: 20px;
    text-align: center;
    color: $linkpink;
    font-size: 16px;
    margin: 70px 80px 0;
    border-bottom: #fff solid 1px;
    &:hover{
        border-bottom: $linkpink solid 1px;
    }
}

.btn-desc{
    max-width: 829px;
}
.emoji{
    font-weight: 400;
    padding-right: 4px;
}

// <<<<<<< HEAD
// .fas{
//     float: right;
// }
// =======
.fa-chevron-circle-right{
    float: right;
}

.hyousi {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 43%;
    color: beige;
    animation: poyoyon2 1s ease-in-out 1 forwards;
    }

    @keyframes poyoyon2 {
    0%  {
        transform: scale(1.0, 1.0) translate(0, 0);
    }
    15% {
        transform: scale(0.98, 0.9) translate(0, 5px);
    }
    30% {
        transform: scale(1.02, 1.0) translate(0, 8px);
    }
    50% {transform: scale(0.98, 1.05) translate(0, -8px);
    }
    70% {
        transform: scale(1.0, 0.9) translate(0, 5px);
    }
    100% {
        transform: scale(1.0, 1.0) translate(0, 0);
    }
    0%, 100% {
    opacity: 1;
    }
    }
    svg{
    z-index: -2;
    position: absolute;
    left: 0;
    }

.nav{
    position: relative;
    top: 0;
    right: 0;
    z-index: 999;
}
.nav-item{
    margin-bottom: 1vh;
}
.nav-cat{
    position: fixed;
    border-left: 30px #FFB69C solid;
    box-shadow: 0 2px 6px #333;
    font-size: 2vh;
    background: #f7f7f7;
    height: 10vh;
    display: inline-block;
    width: 20vw;
    text-align: left;
    color: #333;
    font-weight: 700;
    padding: 36px 0px 0px 16px;
    border-radius: 2px;
    transition: .2s;
    right: -10vw;
    &:hover{
        background: #F7EFEB;
        border-left: 30px #FF7F50 solid;
        transition: .3s;
        right: 0;
    }
}
.ui-cat{
    margin-top: 5vh;
}
.img-cat{
    margin-top: 18vh;
}
.btn-cat{
    margin-top: 31vh;
}
.design-cat{
    margin-top: 44vh;
}
.scroll-cat{
    margin-top: 57vh;
}

